In [1]:
# import the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Q1. Pandas version
What's the version of Pandas that you installed?

In [2]:
print(pd.__version__)

2.3.1

For this homework, we'll use the Laptops Price dataset. Download it from `wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv`.

In [3]:
# load the dataset
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [4]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

### Q2. Records Count
How many records are in the dataset?

In [5]:
print(df.shape[0])

9704

### Q3. Fuel Types
How many fuel types are presented in the dataset?

In [6]:
print(len(df['fuel_type'].unique()))

2

### Q4. Missing values
How many columns in the dataset have missing values?

In [7]:
print(df.isnull().any().sum())

4

### Q5. Maximum Fuel Efficiency
What's the maximum fuel efficiency of cars from Asia?

In [9]:
df_Asia = df.loc[df['origin']=='Asia']
print(df_Asia['fuel_efficiency_mpg'].max())

23.759122836520497

### Q6. Median value of horsepower
Find the median value of `horsepower` column in the dataset.
Next, calculate the most frequent value of the same `horsepower` column.
Use fillna method to fill the missing values in `horsepower` column with the most frequent value from the previous step.
Now, calculate the median value of `horsepower` once again. 
- Has it changed?

In [10]:
print(df['horsepower'].quantile(0.5))

149.0

In [13]:
# Impute missing values in the 'horsepower' column with its mode
df['horsepower'] = df['horsepower'].fillna(df['horsepower'].mode()[0])

# Recalculate the 50th percentile (median) of the 'Screen' column
print(df['horsepower'].quantile(0.5))

152.0

### Q7. Sum of weights
Select all the cars from `Asia`.
Select only columns `vehicle_weight` and `model_year`.
Select the first 7 values.
Get the underlying NumPy array. Let's call it X.
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Compute the inverse of XTX.
Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w. 
$$ w = \left( X^{T} X \right)^{-1} X^{T} y $$

In [14]:
df.origin.value_counts()

origin
Europe    3254
Asia      3247
USA       3203
Name: count, dtype: int64

In [16]:
# Create array y with values
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

# Select the columns for all the cars from Asia, with 7 rows
X = df_Asia[['vehicle_weight','model_year']][:7]

# Compute the transpose of X using .T
XT = X.T

# Compute the product of XT and X (XTX)
XTX = XT.dot(X)

# Compute the inverse of XTX using np.linalg.inv()
XTX_inverse = np.linalg.inv(XTX)

# Compute the product of XT and y (XTy)
XTy = XT.dot(y)

# Perform matrix multiplication
w = XTX_inverse.dot(XTy)

print(w.sum())

0.5187709081074039