In [1]:
# import the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Q1. Pandas version
What's the version of Pandas that you installed?

In [2]:
print(pd.__version__)

2.3.1

For this homework, we'll use the Laptops Price dataset. Download it from `wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv`.

In [4]:
# load the dataset
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv')

In [5]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

### Q2. Records Count
How many records are in the dataset?

* 12
* 1000
* 2160
* 12160

In [6]:
print(df.shape[0])

2160

### Q3. Laptop brands
How many laptop brands are presented in the dataset?

* 12
* 27
* 28
* 2160

In [14]:
print(len(df['Brand'].unique()))

27

### Q4. Missing values
How many columns in the dataset have missing values?

* 0
* 1
* 2
* 3

In [15]:
print(df.isnull().any().sum())

3

### Q5. Maximum final price
What's the maximum final price of Dell notebooks in the dataset?

* 869
* 3691
* 3849
* 3936

In [17]:
df_Dell = df.loc[df['Brand']=='Dell']
print(df_Dell['Final Price'].max())

3936.0

### Q6. Median value of Screen
Find the median value of Screen column in the dataset.
Next, calculate the most frequent value of the same Screen column.
Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
Now, calculate the median value of Screen once again. 
- Has it changed?

In [19]:
print(df['Screen'].quantile(0.5))

15.6

In [20]:
# Impute missing values in the 'Screen' column with its mode
df['Screen'].fillna(df['Screen'].mode()[0], inplace=True)

# Recalculate the 50th percentile (median) of the 'Screen' column
print(df['Screen'].quantile(0.5))

15.6

### Q7. Sum of weights
Select all the "Innjoo" laptops from the dataset.
Select only columns RAM, Storage, Screen.
Get the underlying NumPy array. Let's call it X.
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Compute the inverse of XTX.
Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w. 
$$ w = \left( X^{T} X \right)^{-1} X^{T} y $$

What's the sum of all the elements of the result?

* 0.43
* 45.29
* 45.58
* 91.30

In [29]:
df.Brand.value_counts()

Brand
Asus                415
HP                  368
Lenovo              366
MSI                 308
Acer                137
Apple               116
Dell                 84
Microsoft            77
Gigabyte             48
Razer                37
Medion               32
LG                   32
Alurin               29
PcCom                24
Samsung              22
Dynabook Toshiba     19
Vant                 11
Deep Gaming           8
Primux                8
Innjoo                6
Thomson               4
Prixton               3
Millenium             2
Denver                1
Jetwing               1
Realme                1
Toshiba               1
Name: count, dtype: int64

In [30]:
# Create array y with values
y = np.array([1100,1300,800,900,1000,1100])

# Select the columns RAM, Storage, Screen
df_selected = df.loc[df['Brand']=='Innjoo']
X = df_selected[['RAM','Storage','Screen']]

# Compute the transpose of X using .T
XT = X.T

# Compute the product of XT and X (XTX)
XTX = XT.dot(X)

# Compute the inverse of XTX using np.linalg.inv()
XTX_inverse = np.linalg.inv(XTX)

# Compute the product of XT and y (XTy)
XTy = XT.dot(y)

# Perform matrix multiplication
w = XTX_inverse.dot(XTy)

print(w.sum())

91.29988062995542